@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Allgemeines ––––––––––––––––––––––––––––––*/
body{
  color:rgb(32, 32, 32);

}

h1{
  color: #000;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  padding-top: 20px;
}

h2{
  color: var(--DarkOrange, #E06412);
  /* TextDeco */
  font-family: "Abril Fatface";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

a:link{
  color:white;
}

a:hover{
  color:#E06412;
}

/* Navi ––––––––––––––––––––––––––––––*/

.navbar{
    padding-top: 24px;
    padding-bottom: 24px
}


nav a{
  color:white;
  text-decoration: none;
}

.nav-link.active { 
    border-bottom: 3px solid #E06412;
}

.navbar .nav-link{
    color:white;
}

.navbar .nav-link:hover {
  color: #E06412; /* Farbe beim Hover */
}

.navbar .active {
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav img{
  position: absolute;
  bottom: -28px; /* Logo wird 28px über die Navbar hinausgeschoben */
  left: 10px;    /* Logo wird auf der linken Seite positioniert */
}

/*Burgermenu weiß machen*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border:none;
}

.navbar-nav{
  display: flex;
}

/* Modal ––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Modal auf abgedunkelter Page */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 9999;
 
}

/* Modalaussehen */
.modal-content {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

#close-btn {
  margin-top: 20px;
  padding: 10px 20px;
}


/* Header mit Foto und Steckbrief ––––––––––––––––––––––––––––––*/

.headline{ /* Iam Svenja*/
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }
 .subheadline{ /*Research Asociate*/
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
 }
 
.about-text{ /*Steckbrief*/
    background-color: rgba(252, 178, 129, 0.16);
    width: auto;
    padding: 30px;
    padding-left: 210px;
    margin-top: 50px;
    margin-left:-260px;/*
    padding-left: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right:40px;
    margin-top: -400px;
    margin-left: 500px;*/
}

.about img{
  /*height: 350px; /* Höhe des Bildes */
  /*width: auto;*/
  /*position: relative;*/
  /*max-height: 80%;*/
  width: auto;
}

  div .icon-text img{
    display:inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .icon-text p{
    display:inline-block;
    vertical-align: top;
    max-width: 500px;
  }

  .position .icon-text p{
    display:inline-block;
    vertical-align: top;
    
  }

  .presentation-text{
    margin-top: 50px;
    margin-bottom: 50px;
  }


  @media (max-width: 768px) {
  
    .about-text{
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 50px;
      padding: 20px;
      
    }
  
    .about img{
      max-height: 100%;
      margin-top: 50px; /* Abstand zur Navi oben*/
    }
    .icon-text p{
      display: flex;
    }
    
    .icon-text img {
      max-height: 100%;
      margin-top: 10px; /** Abstände zwischen icon-text-parts*/
    }
  }

  @media (min-width: 768px) {
  
    .about img{
      max-height: 80%;
    }
  }

  /** News Section––––––––––––––––––––––––––––––*/
/*
  .news{
    background-color:rgba(252, 178, 129, 0.16);
    margin-inline: auto;
    margin-top: 50px;
  }

  
  .row{
   justify-content: space-evenly; um news mittig zu positionieren 
  }
  

  .news-item{
    display: inline-block;
    padding: 20px 20px 20px 0px;
    min-width: 300px;
    max-width: 400px;
  }

  .news-container p{
    padding: 0px;
  }

*/
.news{
  background-color:rgba(252, 178, 129, 0.16);
}

.news-container{
padding-bottom: 30px;
}

/*
.news-item{
padding: 0px;
}

.news-item p{
  padding:12px;
}

  
  /** Upcoming Talks––––––––––––––––––––––––––––––*/

  .upcom-talk h1{
    margin-top: 30px;
  }

  .upcom-talk h2{
    margin-top: 20px;
  }

  .upcom-talk{
    padding-bottom: 80px;
  }

  @media (min-width: 768px){
    .upcom-talk h2{
      margin-top: 0px;
    }

    .position-pic img {
      margin-top: 0px;
      max-width: 100%;
    }
  }

/* Project Teaser––––––––––––––––––––––––––––––*/

  .teaser-section{
    background-color:rgba(252, 178, 129, 0.16);
    padding: 20px;
    padding-bottom: 50px;
    padding-top:40px;
  }

  .project img{
    max-width: 100px;
  }

  .book-proj{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    text-align: center;
   
  }

  .dig-proj{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    text-align: center;
    
  }


  /* Buttondesign ––––––––––––––––––––––––––––––*/

  .btn{
    background-color: #E06412;
    border: none;
    border-radius: 10px;
    
  }
  .button{
    margin:20px 0px;
  }

  .btn:hover{
    background-color: #A14304;
  }


  .btn .btn-primary{
    margin-top:20px;
    
  }
  .btn:active{
    background-color: rgba(252, 178, 129, 0.16);
  }




  /* TIMELINE –––––––––––––––––––––––––––––––––––*/

  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
  
  :root {
    --red: #FCB281;
    --dark-blue: #E06412;
    --turquoise: #FCB281;
    --white: #fff;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
  }
 /*
  body {
    font: normal 16px/1.5 "Inter", sans-serif;
    padding-bottom: 50px;
  }
  */
  
  /* TIMELINE - INTRO SECTION */
  
  .intro {
    color: var(--white);
    background: var(--red);
    padding: 100px 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /*text-align: center;*/
  }
  /*
  h1 {
    font-size: 2.5rem;
  }
 */
  /* TIMELINE - ITSELF */

  .timeline {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1000px;
    color: var(--dark-blue);
  }
  
  .timeline ol {
    position: relative;
    list-style: none;
    padding:0px;
  }
  
  .timeline ol::before { /* Timelinestreifen*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: var(--turquoise);
  }
  .timeline ol li .item-inner {
    padding: 20px 180px;
    margin-bottom: 8vh;
  }
  /*Timeline-Schrift hier definiert*/
  
  .timeline ol li .time-wrapper {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.9;
  }
  
  .timeline ol li .time-wrapper::before,
  .timeline ol li .time-wrapper::after {
    content: "";
    position: absolute;
    background: var(--turquoise);
  }
  .timeline ol li .time-wrapper::before {
    top: 50%;
    left: -180px;
    transform: translateY(-50%);
    width: 0;
    height: 3px;
    transition: width .1s linear;
  }
  .timeline ol li .time-wrapper::after {
    top: calc(50% - 8px);
    left: -60px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: left center;
    transition: all 0.2s linear;
  }

  /**Hier die opacity anpassen damit es läuft*/
.timeline ol li time,
.timeline ol li .details > * {
  opacity: 0;
  transition: 0.25s;
}

.timeline ol li time {
  display: inline-block;
  transform: translateY(-30px);
}
 
.timeline ol li .details > * {
  transform: translateY(30px);
}

.timeline ol li .details h3 {
  font-size: 2rem;
  line-height: 1;
  margin: 15px 0;
}

/* TIMELINE - ANIMATION STYLES */

.timeline ol li.in-view .time-wrapper::before {
  width: 120px;
}

.timeline ol li.in-view .time-wrapper::after {
  transition-delay: 0.01s;
  transform: scale(1.5);
}

.timeline ol li.in-view time,
.timeline ol li.in-view .details > * {
  opacity: 1;
  transform: none;
}

.timeline ol li.in-view time {
  transition-delay: .3s;
}

.timeline ol li.in-view .details h3 {
  transition-delay: .3s;
}

.timeline ol li.in-view .details p {
  transition-delay: .3s;
}

/* TIMELINE - MQ STYLES */
@media (max-width: 700px) {
  .timeline ol li .item-inner {
    padding: 20px 40px;
  }

  .timeline ol li .time-wrapper::before {
    display: none;
  }

  .timeline ol li .time-wrapper::after {
    left: -45px;
    transform-origin: center;
  }

  .timeline ol li.in-view .time-wrapper::after {
    transition-delay: 0s;
  }

  .timeline ol li.in-view time {
    transition-delay: 0.5s;
  }

  .timeline ol li.in-view .details h3 {
    transition-delay: 0.7s;
  }

  .timeline ol li.in-view .details p {
    transition-delay: 0.9s;
  }
}

/* TIMELINE - FOOTER STYLES */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

/* CV ––––––––––––––––––––––––––––––––––––––––––––––*/

/* Einletung */

.intro{
  background-color: white;
  padding: 30px 0;
}


/* Current Position */
.position .icon-text .description {
  display:inline-block;
  align-items:flex-start /* Vertikale Ausrichtung */
}
.position-pic img{
  max-width: 450px;
  height: auto;

}
@media (max-width: 700px) {
  .position-pic img{
    max-height: 400px;
  }
}


.currentPosition .container .row{
  display: flex;
  align-items: flex-start;
}

.currentPosition .pt-3{
  padding-top: 0px !important;
}

.currentPosition h1{
  margin-bottom: 1rem;
}

.currentPosition .pt-3 h2, .position-pic img{
  margin-top: 20px;
}


/* Professional Experience ––––––––––––––––––––––––––––––*/
.exp-section{
  background-color: rgba(252, 178, 129, 0.16);
  padding-bottom: 50px;
  margin-top:50px;
}


/* Digital humanities projects ––––––––––––––––––––––––––––––*/

.dig-h-projects{
  margin-bottom: 50px;
}
.dig-h-projects .name{
  font-weight: 600;
  color: var(--DarkOrange, #E06412);
}

.dig-h-projects tr td, .dig-h-projects th {
  padding: 10px;
}

.dig-h-projects th{
  font-weight: 200;
  color: #d0824f;
}

.dig-h-projects td{
  vertical-align: top;
}

tr:nth-child(even) {
  background-color:rgba(252, 178, 129, 0.16); 
}

/* Book Projects ––––––––––––––––––––––––––––––*/
.container .diss .pic img {
min-width: 100px;
}

.diss .pic{
  text-align: center;
  margin-bottom: 80px;
}
.diss-icon .col-3 img{
  min-width: 150px;
}
.diss-icon .row{
  display: flex;
  align-items:center;
}

.diss-icon{
  margin-bottom: 60px;
}
